{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}
    Kasse | Verwaltung
{% endblock %}

{% block head_favicon %}
    <link rel="icon" type="image/svg+xml" href="{{ asset('favicon.svg') }}">
{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block main %}
    <div class="w-100" style="height: 300px;">
        {{ render_chart(chart) }}
    </div>

    <div class="card mt-4">
        <div class="card-header bg-dark text-white">
            <h4 class="card-title">{{ 'Export Receipts'|trans }}</h4>
        </div>
        <div class="card-body bg-light">
            {{ form_start(form) }}
            <div class="row mb-3">
                <div class="col input-group">
                    {{ form_label(form.fromDate, null, {label_attr: {class: 'input-group-text mb-0 py-4 bg-dark-subtle'}}) }}
                    {{ form_widget(form.fromDate) }}
                </div>
                <div class="col input-group">
                    {{ form_label(form.toDate, null, {label_attr: {class: 'input-group-text mb-0 py-4 bg-dark-subtle'}}) }}
                    {{ form_widget(form.toDate) }}
                </div>
            </div>
            {{ form_errors(form.fromDate) }}
            {{ form_errors(form.toDate) }}

            {{ form_row(form.events) }}

            <div class="input-group my-3">
                {{ form_label(form.exportType, null, {label_attr: {class: 'input-group-text mb-0 py-4 bg-dark-subtle'}}) }}
                {{ form_widget(form.exportType) }}
            </div>

            {{ form(form) }}

            <div class="d-flex justify-content-end">
                {{ form_widget(form.submit, {label: 'generate receipt PDF'}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
