{# @var \App\Model\ReceiptArticle[] articles #}
{% extends 'pdf/base.html.twig' %}

{% block size %}{{ size.size }} {{ size.orientation }}{% endblock %}

{% block body %}
    <div class="page">
        <div class="card">
            <div class="card-body">
                {% if filter.toDate is not null %}
                    Verkäufe vom <strong>{{ filter.fromDate|date('d.m.Y') }}</strong> bis zum <strong>{{ filter.toDate|date('d.m.Y') }}</strong>.
                {% else %}
                    Verkäufe am <strong>{{ filter.fromDate|date('d.m.Y') }}</strong>.
                {% endif %}
            </div>
            {% if filter.events is not null %}
                <div class="card-body">
                    Zusammenfassung für {{ 'Event'|trans }}:
                    <ul>
                        {% for event in filter.events %}
                            <li>{{ event }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <table class="table mt-3">
            <thead>
            <tr>
                <th>{{ 'Product Name'|trans }}</th>
                <th>{{ 'Quantity'|trans }}</th>
                <th>{{ 'Price Sum'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <th>{{ article.name }}</th>
                    <td>{{ article.quantity }}</td>
                    <td>{{ article.price | number_format(2,',','.') }} €</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            {% for type, price in paymentPrices %}
                <tr>
                    <td></td>
                    <td>{{ type | trans | capitalize }}:</td>
                    <td>{{ price | number_format(2,',','.') }} €</td>
                </tr>
            {% endfor %}
            </tfoot>
            <tfoot>
            <tr>
                <td colspan="2"></td>
                <th>{{ articles | reduce((carry, article) => carry + article.price, 0.0) | number_format(2,',','.') }} €</th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
