{# @var array<int, array<string, \App\Model\ReceiptArticle>> articles #}
{# @var array<int, array<string, \BcMath\Number>> paymentPrices #}
{% extends 'pdf/base.html.twig' %}

{% block size %}{{ size.size }} {{ size.orientation }}{% endblock %}

{% block body %}
    <div class="page">
        <div class="card">
            <div class="card-body">
                {% if filter.toDate is not null %}
                    Verkäufe vom <strong>{{ filter.fromDate|date('d.m.Y') }}</strong> bis zum
                    <strong>{{ filter.toDate|date('d.m.Y') }}</strong>.
                {% else %}
                    Verkäufe am <strong>{{ filter.fromDate|date('d.m.Y') }}</strong>.
                {% endif %}
            </div>
            {% if filter.events is not null %}
                <div class="card-body">
                    Zusammenfassung für {{ 'Event'|trans }}:
                    <ul>
                        {% for event in filter.events %}
                            <li>{{ event }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        {% for tax, taxArticles in articles %}
            {% include 'pdf/components/article_table.html.twig' with {
                articles: taxArticles,
                tax,
                paymentPrices: paymentPrices[tax],
            } only %}
        {% endfor %}

        {% if paymentPrices | length > 1 %}
            {% include 'pdf/components/article_tax_sum_table.html.twig' with {
                paymentPrices,
            } only %}
        {% endif %}
    </div>
{% endblock %}
