{# @var array<string, array<int, array<string, \App\Model\ReceiptArticle>>> articles #}
{# @var array<string, array<int, array<string, \BcMath\Number>> paymentPrices #}

{% extends 'pdf/base.html.twig' %}

{% block size %}{{ size.size }} {{ size.orientation }}{% endblock %}

{% block body %}
    {% for eventName, eventArticles in articles %}
        <div class="page">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ eventName }}</h4>
                </div>
                <div class="card-body">
                    {% if filter.toDate is not null %}
                        Verkäufe vom <strong>{{ filter.fromDate|date('d.m.Y') }}</strong> bis zum
                        <strong>{{ filter.toDate|date('d.m.Y') }}</strong>.
                    {% else %}
                        Verkäufe am <strong>{{ filter.fromDate|date('d.m.Y') }}</strong>.
                    {% endif %}
                </div>
            </div>
            {% for tax, taxArticles in eventArticles %}
                {% include 'pdf/components/article_table.html.twig' with {
                    articles: taxArticles,
                    tax,
                    paymentPrices: paymentPrices[eventName][tax],
                } only %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
